# IDEs and Editors (project-wide)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# OS (project-wide)
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# Project-level files
*.log
.env